<head>

 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blog Site | <%= title %></title>
  <link rel="stylesheet" href="/styles.css">

</head>
 <!-- no need to write /public, because it looks directly into 'public' folder specified by the express.static method. Also, whatever is inside the public folder(eg- pictures), can be linked and directly accessed by the browser-->
