<html>
    <%- include('./partials/head.ejs') %>

<body>

    <%- include('./partials/nav.ejs') %>


    <div class="about content">
        <h2>About us</h2>
        <p>This is a basic blog site.</p>
        <p>You can create, delete and view details of any particular blog.</p>
    </div>
    <%- include('./partials/footer.ejs') %>

</body>
</html>